.tableheader {
background-color:  #7FDBFF;
color:white;
font-weight:bold;
}
.tablerow {
background-color: #39CCCC;
color:white;
}
.message {
color: #FF0000;
font-weight: bold;
text-align: center;
width: 100%;
}
